body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

h2 {
    text-align: center;
}

.form-container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 8px 12px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

.btn-red {
    background: red;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
